body{
    background-color: lightgrey;
}
.container{
    text-align: center;
}
h1 {
    
}

.choices p {
    
    text-transform: uppercase;
    font-weight: bold;
}

.choices {
font-size: 30px;
}
.choice {
font-size: 40px;
}

#messages {
    
}

.player{
   font-size: 20px;
   float: left;
   width: 50%;
}

.computer {
    font-size: 20px;
   float:left;
   width: 50%;
}


.result-wrapper {
    text-align: center;
}
#player-choice{
    display:inline-block;
    position: relative;
    right:15%;
}
#computer-choice{
    display:inline-block;
    position: relative;
    left:15%;
}

#result {
    font-size: 40px;
    display: inline-block;
    position: relative;
    bottom:75px;
    padding: 0%;
    margin: 0%;
}

#play-again {
background-color: aqua; 
font-size: large;
}

h2 {
    text-align: center;
}
p {
    text-align: center;
    font-size: 25px;
    line-height: 2.6;
    
}
/* Images */

.display-img{
    width: 250px;
    height:250px;
   
    
}

.rules-img{
   display: inline-block;
   
}
.rules-child{
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.rules{
    text-align: center;
}

.rules li {
    list-style: none;
}
.rules ul {
    padding: 0;
    margin:0;
}

/* Media Queries*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
    background-color: lightblue;
    width: 100%;
    font-size: 10px;
    }

    .choices button{
        font-size: 20px;
       display: inline-block;
        /*text-align: center;*/
        width: 30%;
        

    }
    .choices{
        text-align: center;
    }

    /*.result-wrapper{
        font-size: 20px;
    }*/
    #player-choice {
        position: static;
        left: 0;
    }

    #computer-choice {
        position: static;
        right: 0;
    }

    #result{
        bottom: 0px;
    }
    .player{
        padding-left: ;
        
        width: 40%;
    }

    .computer{
        padding-right: ;
        width: 60%;
    }

    .result-wrapper{
        font-size: 20px;
    }

    .rules-img img {
        width: 130px;
        height: 130px;
    }
    .rules-child{
        font-size: 15px;
        text-align: center;
    }

    .Instructions h2{
        font-size: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        font-size: 20px;
    }
    #player-choice {
        position: static;
        left: 0;
    }
    #computer-choice {
        position: static;
        right: 0;
    }

    #result{
        bottom: 0px;
    }
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}