body{
    background-color: lightgrey;
    margin: 0px;
    padding: 0px;
}
.container{
    text-align: center;
}



.choices p {
    
    text-transform: uppercase;
    font-weight: bold;
}

.choices {
font-size: 30px;
}

.choice {
font-size: 40px;
}


.player{
   font-size: 20px;
   float: left;
   width: 50%;
}

.computer {
   font-size: 20px;
   float:left;
   width: 50%;
}


.result-wrapper {
    text-align: center;
}
#player-choice{
    display:inline-block;
    position: relative;
    right:15%;
}
#computer-choice{
    display:inline-block;
    position: relative;
    left:15%;
}

#result {
    font-size: 40px;
    display: inline-block;
    position: relative;
    bottom:75px;
    padding: 0%;
    margin: 0%;
    min-width: 30%;
}

#play-again {
background-color: aqua; 
font-size: large;
}

h2 {
    text-align: center;
}
p {
    text-align: center;
    font-size: 25px;
    margin-right: 10px;
    
}
/* Images */

.display-img{
    width: 250px;
    height:250px;
     
}

.rules-img{
   display: inline-block;
   
}

.rules-img img{
    height: 230px;
}
.rules-child{
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.rules{
    text-align: center;
}

.rules li {
    list-style: none;
}
.rules ul {
    padding: 0;
    margin:0;
}

/* Media Queries*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
    body {
    background-color: lightblue;
    width: 100%;
    font-size: 10px;
    }

    .container h1{
        font-size: 25px;

    }

    .choices button{
        font-size: 20px;
       display: inline-block;
        /*text-align: center;*/
        width: 30%;
    }
    .choices{
        text-align: center;
    }

    .choices p{
        font-size: 18px;
    }
    .player {
        width: 100%;
        padding-top: 10px;
    }
    .computer {
        width: 100%;
        padding-bottom: 10px;
    }
    .player h3{
        margin: 0;
    }
    .computer h3{
        margin: 0;
    }

    #player-choice {
        position: static;
        left: 0;
    }

    #computer-choice {
        position: static;
        right: 0;
    }

    #result{
        bottom: 0px;
    }
   

    .result-wrapper{
        font-size: 20px;
    }

    .rules-img img {
        width: 130px;
        height: 130px;
    }
    .rules-child{
        font-size: 15px;
        text-align: center;
    }

    .instructions h2{
        font-size: 20px;
    }
    .instructions p {
        font-size: 15px;
        text-align: center;
        line-height: 20px;  
    }

    .rules h2{
        font-size: 20px;
    }
    .display-img {

        width: 100px;
        height: 100px;
    }

    #result {
        font-size: 20px;
        width: 100%;
        padding: 5px 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 900px) {
    body{
        font-size: 20px;
    }
    #player-choice {
        position: static;
        left: 0;
    }
    #computer-choice {
        position: static;
        right: 0;
    }

    #result{
        bottom: 0px;
    }
    .instructions p {
        font-size: 20px;
    }

    .player {
        width: 100%;
    }

    .computer {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .container h1{
        font-size: 20px;

    }
/*.choices button{
     font-size: 15px;
    display: inline-block;
     width: 15%;
}*/
.choices p{
    font-size: 16px;
}
.display-img {

    width: 120px;
    height: 120px;
}
#result {
    font-size: 20px;
    padding: 5px 0;
}

.player{
width: 50%;
}
.computer{
    width: 50%;
}
}
/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (orientation: landscape) {
    .display-img {

        width: 150px;
        height: 150px;
    }
    #result {
        font-size: 20px;
        width: 100%;
        padding: 5px 0;
    }
}*/
